[user]
	email = jd.hernandez@gmail.com
	name = jd.hernandez
[alias]
	unstage = reset HEAD --
	up = pull --rebase --autostash
	co = checkout
	br = branch
	st = status
[color]
	status = auto
	branch = auto
	diff = auto
	interactive = auto
[diff]
	indentHeuristic = on
[merge]
	conflictstyle = diff3
[push]
	default = simple
